<% provide(:title, 'User Registration') %>
<% provide(:button_text, 'CREATE MY ACCOUNT') %>

<h2>New User Signup</h2>

<%= render partial: 'shared/error_messages', locals: { user: @user } %>

<%= render 'form' %>
