/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$lightgreen-50: #99CC98;
$green: #1A4D19;

@mixin box_sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.main-container {
  padding: 0 10px;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
}

/* NAV & HEADER */
.site-nav {
  width: 100%;
  height: 45px;
  margin-top: 0;
  // position: absolute;
  background-color: $green;
  color: white;
}

.site-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  height: 42px;
  align-items: center;
  letter-spacing: 1px;
  a {
    text-decoration: none;
    color: white;
  }
  h1 {
    font-size: 30px;
  }
}

.site-nav-main {
  display: flex;
  flex-direction: row;
}

.site-nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-nav-user {
  font-size: 24px;
}

.site-nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

/* FORMS */
#error-explain {
  color: red;
  .alert-error {
    border: 1px solid red;
    padding: 5px;
  }
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  color: red;
  input {
    background-color: pink;
    border: 1px solid red;
  }
}

/* USER PROFILE PAGE */
.user-profile-section-header {
  font-size: 1rem;
  margin-bottom: 10px;
}

.user-profile-details {

}

.user-profile-handicap-container {

}

.user-profile-last-container {

}

.user-last-inline {
  display: inline-block;
}

.user-last-score-wrapper {
  
}

.user-last-right-buffer {
  margin-right: 25px;
}

.user-last-ags {
  font-weight: bold;
  font-size: 31px;
}

.user-last-diff {
  text-align: center;
}

.user-profile-all-container {
  margin-bottom: 15px;
}

.user-profile-all-container ul {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style-type: none;
}

.user-profile-all-container ul li {
  line-height: 20px;
  width: 500px;
  a, a:active, a:hover, a:visited {
    color: black;
  }
}

.user-all-score {
  font-weight: bold;
  display: inline-block;
  text-align: right;
  width: 30px;
}

.user-all-tee {
  width: 100px;
}

.user-profile-joined {
  float: right;
}

.clear {
  clear: both;
}

/* ALERTS */
.alert-notice {
  text-align: center;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $green;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  background-color: $lightgreen-50;
  font-weight: bold;
  letter-spacing: 1px;
}

/* DEBUG */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
