/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$lightblue-80: #cbe6ff;

$green: #1A4D19;
$lightgreen-50: #99CC98;
$lightgreen-70: #cdffcc;

$orange: #ffc83d;
// $lightred: #f79c8a;
$lightred: rgba(240, 58, 23, 0.5);

@mixin box_sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.main-container {
  padding: 0 10px;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
}

.inline-block {
  display: inline-block;
}

/* NAV & HEADER */
.site-nav {
  width: 100%;
  // height: 45px;
  margin-top: 0;
  // position: absolute;
  background-color: $green;
  color: white;
}

.site-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  // height: 42px;
  align-items: center;
  letter-spacing: 1px;
  a {
    text-decoration: none;
    color: white;
  }
  h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.site-nav-main {
  display: flex;
  flex-direction: row;
}

.site-nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-nav-user {
  text-align: right;
  font-size: 24px;
}

.site-nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

/* FORMS */
#error-explain {
  color: red;
  .alert-error {
    border: 1px solid red;
    padding: 5px;
  }
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  color: red;
  input {
    background-color: pink;
    border: 1px solid red;
  }
}

.user-greeting {
  margin-bottom: 25px;
}

.user-add-round-button,
.club-add-round-button {
  border-radius: 5px;
  padding: 10px;
  background-color: $green;
  font-weight: bold;
  a, a:active, a:hover, a:visited {
    color: white;
    text-decoration: none;
  }
}

#score_reminder {
  color: red;
  font-size: 18px;
  span {
    font-weight: bold;
  }
}

/* ALL USERS / CLUBS PAGE */
.pagetop-link-button {
  margin-top: 20px;
}

.large-link {
  border-radius: 5px;
  padding: 10px;
  background-color: $green;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

tr, li {
  line-height: 2rem;
  transition: all 0.0s;
  cursor: default;
  &:nth-child(odd) {
    background-color: $lightblue-80;
  }
  &:hover {
    background-color: $lightgreen-70;
  }
}

#all-users-header-container,
#all-clubs-header-container {

}

#all-users-header, #all-users-search,
#all-clubs-header, #all-clubs-search {
  display: inline-block;
}

#all-users {

}

#all-clubs {
  margin-top: 20px;
}

#all-users-table,
#all-clubs-table,
#tee-table {
  border: 1px solid $green;
  border-collapse: collapse;
}

.all-users-table-header,
.all-clubs-table-header,
.tees-table-header th {
  background-color: $green;
  color: white;
  padding: 5px;
}

.all-users-data,
.all-clubs-data,
.tees-table-data td {
  font-weight: bold;
}

.user-username,
.club-clubname,
.tee-colorname {
  padding-left: 5px;
  padding-right: 20px;
}

.user-hci {
  text-align: right;
  width: 50px;
  padding-right: 5px;
}

.tee-data {
  text-align: right;
  padding-right: 5px;
}

.club-location {
  text-align: right;
  width: 200px;
  padding-right: 5px;
}

.user-hci abbr {
  text-align: center;
  padding-right: 5px;
  text-decoration: none;
}

.user-best,
.club-number-of-tees {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

.club-number-of-tees {
  font-weight: normal;
  word-wrap: normal;
  width: 250px;
}

.user-played {
  text-align: center;
  padding-right: 5px;
}

.user-best-round {
  text-align: right;
  padding-right: 10px;
}

/* USER PROFILE PAGE */
.user-profile-section-header {
  font-size: 1rem;
  margin-bottom: 10px;
}

.user-profile-details {

}

.user-profile-handicap-container {
  margin-top: 15px;
}

.user-profile-h3 {
  display: inline-block;
}

.user-profile-hci {
  display: inline-block;
  color: white;
  background-color: $green;
  font-size: 24px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.user-profile-last-container {

}

.user-last-inline {
  display: inline-block;
}

.user-last-score-wrapper {

}

.user-last-right-buffer {
  margin-right: 25px;
}

.user-last-ags {
  text-align: center;
  font-weight: bold;
  font-size: 31px;
  transform: translateY(-40%);
}

.user-last-diff {
  text-align: center;
}

.user-profile-all-container {
  margin-bottom: 15px;
}

.user-profile-all-container ul {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style-type: none;
}

.user-profile-all-container ul li {
  position: relative;
  line-height: 30px;
  width: 600px;
  a, a:active, a:hover, a:visited {
    color: black;
  }
}

.user-all-score {
  font-weight: bold;
  display: inline-block;
  text-align: right;
  width: 30px;
}

.user-all-tee {
  width: 100px;
}

.no-deco a {
  text-decoration: none;
}

.edit-function a {
  margin-left: 15px;
  padding: 2px 10px;
  border: 1px solid black;
  border-radius: 15%;
  background-color: $orange;
}

.delete-function a {
  margin-left: 15px;
  padding: 2px 10px;
  border: 1px solid black;
  border-radius: 15%;
  background-color: $lightred;
}

.clear {
  clear: both;
}

/* ALERTS */
.alert-notice {
  text-align: center;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $green;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  background-color: $lightgreen-50;
  font-weight: bold;
  letter-spacing: 1px;
}

.alert-update {
  text-align: center;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid darkorange;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  background-color: $orange;
  font-weight: bold;
  letter-spacing: 1px;
}

.alert-purged {
  text-align: center;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  background-color: $lightred;
  font-weight: bold;
  letter-spacing: 1px;
}

/* DEBUG */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
